<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Прайс-лист</title>
    <link rel="stylesheet/less" type="text/css" href="price.less">
    <script src="../../less/less.min.js" ></script>
</head>
<body>
    <header class="main-header main-header__main-content-price">
        <div class="main-header__nav">
            <ul class="main-header__list">
                <li class="main-header__logo main-header__logo--order-false">
                    <a class="main-header__item main-header__item--color main-header__item--size" href="../../../index.html">
                        <img  src="../../images/logo.svg" alt="logo">
                    </a>
                </li>
                <li><a class="main-header__item main-header__item--color main-header__item--size" href="">ИНФОРМАЦИЯ</a></li>
                <li><a class="main-header__item main-header__item--color main-header__item--size" href="">НОВОСТИ</a></li>
                <li>
                    <a class="main-header__item main-header__item--active main-header__item--color main-header__item--size" href="#">
                    <span class="main-header__span main-header__span--active">ПРАЙС-ЛИСТ</span>
                    </a>
                </li>
                <li><a  class="main-header__item main-header__item--color main-header__item--size" href="">МАГАЗИН</a></li>
                <li><a class="main-header__item main-header__item--color main-header__item--size" href="">КОНТАКТЫ</a></li>
            </ul>
            <ul class="main-header__list">
                <li >
                    <a class="main-header__login main-header__item main-header__item--size" href="">
                        ВХОД
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <main class="main-content main-content--theme-price">
        <h2 class="main-content__header main-content__header--theme-price">ПРАЙС-ЛИСТ</h2>
        <div class="main-content__path">
            <span class="main-content__paragraph main-content__path-one ">ГЛАВНАЯ</span>
            <span class="main-content__paragraph  main-content__path-two ">ПРАЙС-ЛИСТ</span>
        </div>
        <h1 class="main-content__header main-content__header--size-l">ИСТИННО МУЖСКАЯ КЛАССИКА</h1>
        <div class="main-content__wrap main-content__wrap--theme-price">
            <div class="main-content__item main-content__item--theme-price">
                <h3 class="main-content__header main-content__header--size-s">МЫ ИСПОЛЬЗУЕМ ТОЛЬКО <br>
                    ЛУЧШИЕ СРЕДСТВА:
                </h3>
                <ul>
                    <li class="main-content__li main-content__paragraph">Baxter of California</li>
                    <li class="main-content__li main-content__paragraph">Mr Natty</li>
                    <li class="main-content__li main-content__paragraph">Suavecito</li>
                    <li class="main-content__li main-content__paragraph">Malin+Goetz</li>
                </ul>
            </div>
            <div class="main-content__item main-content__item--theme-price">
                <h3 class="main-content__header main-content__header--size-s">ЦЕНЫ НА УСЛУГИ <br> НАШИХ МАСТЕРОВ:</h3>
                <table class="main-content__table">
                    <tr class="main-content__row">
                        <td class="main-content__col-one main-content__paragraph">СТРИЖКА</td>
                        <td class="main-content__col-two main-content__paragraph">1500 Р</td>
                    </tr>
                    <tr class="main-content__row">
                        <td class="main-content__col-one main-content__paragraph">СТРИЖКА БОРОДЫ</td>
                        <td class="main-content__col-two main-content__paragraph">500 Р</td>
                    </tr>
                    <tr class="main-content__row">
                        <td class="main-content__col-one main-content__paragraph">НАКРУТКА УСОВ</td>
                        <td class="main-content__col-two main-content__paragraph">350 Р</td>
                    </tr>
                </table>
            </div>
            <div class="main-content__item main-content__item--theme-price">
                <h3 class="main-content__header main-content__header--size-s">НЕСКОЛЬКО СЛОВ О НАС:</h3>
                <p class="main-content__paragraph">
                    Наша парикмахерская занимается исключительно мужскими <br>
                    стрижками. Стрижка каждого клиента для нас - это уникальная <br>
                    и продуманная до мелочей работа. Мы не работаем на  <br>
                    количество, мы делаем качество.
                </p>
            </div>
            <div class="main-content__item main-content__item--theme-price">
                <h3 class="main-content__header main-content__header--size-s visually-hidden">###</h3>
                <p class="main-content__paragraph">
                    Наша мастерская расположена в центре города, поэтому  <br>
                    сделать стильную стрижку можно в любое время, даже в <br>
                    обеденный перерыв. Здесь вы можете погрузиться в удобную  <br>
                    для вас атмосферу, чувствовать себя комфортно и свободно!
                </p>

            </div>
        </div>
    </main>
    <footer class="main-footer">
        <div class="main-footer__wrapper">
            <div class="main-footer__location">
                БАРБЕРШОП «БОРОДИНСКИЙ»<br>
                АДРЕС: Г. САНКТ-ПЕТЕРБУРГ, УЛ. Б. КОНЮШЕННАЯ, Д. 19/8<br>
                <a  class="main-footer__how-search-us" href=""> КАК НАС НАЙТИ?</a><br>
                ТЕЛЕФОН: +7 (495) 666-02-66<br>
            </div>
            <div class="main-footer__social">
                <span>ДАВАЙТЕ ДРУЖИТЬ!</span>
                <ul class="main-footer__social-list">
                    <li class="main-footer__social-list-item main-footer__social-list-item--vkontakte"></li>
                    <li class="main-footer__social-list-item main-footer__social-list-item--facebook"></li>
                    <li class="main-footer__social-list-item main-footer__social-list-item--instagram"></li>
                </ul>
            </div>
            <div class="main-footer__developers">
                <span class="main-footer__span">РАЗАРБОТАНО:</span>
                <button class="button button--size-s main-footer__button">HTML ACADEMY</button>
            </div>
        </div>
    </footer>
</body>
</html>