.gallery {
    padding-left: 90px;
}

.gallery__image {
    display: block;
    width: 300px;
    height: 178px;
    margin-bottom: 40px;
}

.gallery__prev {
    margin-right: 17px;
}

.gallery__next {

}