.main-content {
    width: 940px;
    margin: 0 auto;
}

.main-content__advantages {
    margin-bottom: 52px;

}

.main-content__header {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 16px;
}

.main-content__wrap {
    display: flex;
    width: 940px;
    height: 419px;
    margin-bottom: 36px;
    background: white;
    background-image: url("../../images/vertical-line.png");
    background-repeat: no-repeat;
    background-position: center;
}


.main-content__wrap--size-m {
    height: 435px;
    margin-bottom: 65px;
}


.main-content__paragraph {
    font-size: 14px;
    line-height: 24px;
}

.main-content__item {
    box-sizing: border-box;
    padding-top: 48px;
    width: 470px;
}