@import url('../button/button.css');
@import url('../main-header/main-header.css');
@import url('../main-content/main-content.css');
@import url('../main-content/advantages/advantages.css');
@import url('../main-content/appointment/appointment.css');
@import url('../main-content/contacts/contacts.css');
@import url('../main-content/gallery/gallery.css');
@import url('../main-content/news/news.css');
@import url('../main-footer/main-footer.css');

@font-face {
    font-family: "PT Sans Narrow";
    src: url("../../../template/fonts/web/ptsansnarrow.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans Narrow Bold";
    src: url("../../../template/fonts/web/ptsansnarrowbold.woff2") format("woff2");
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url("../../images/Layer.png");
    background-repeat: no-repeat;
    background-position: center, top;
    font-family: "PT Sans Narrow Bold",sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}


* {
    margin: 0;
    padding: 0;
}

